<nav class="uk-navbar uk-navbar-attached">
  <div class="uk-container uk-container-center">
    <div class="uk-navbar-flip">
      <ul class="uk-navbar-nav">
        <% if signed_in? %>
        <li data-uk-dropdown="{mode:'click'}">
          <a href="#">
            <%= current_user.name %>
            <i class="uk-icon-caret-down"></i>
          </a>
          <div class="uk-dropdown">
            <ul class="uk-nav uk-nav-navbar">
              <li><%= link_to 'Sign out', logout_path %></li>
            </ul>
          </div>
        </li>
        <% else %>
          <li><%= link_to 'Sign in', '/auth/dropbox' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
